*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-size: 100%;
  font-family:
}
body.day {
    color: yellow;
    background-color: blue;
}
body.night {
    color:blue;
    background-color: black;
}
/* plus any other CSS you want */